<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отображение данных о заказе</title>
</head>
<body>
<h1 style="text-align:center">
    <span style="font-family:Arial,Helvetica,sans-serif">
    Отображение данных о заказе
    </span>
</h1>
<form action="/result" method="post" name="OrderInfo">
    <div style="text-align:center">
        <input type="text" placeholder="order_uid" name="order_uid" id="input_id" />
    </div>
    <p style="text-align:center"><input type="submit" />&nbsp;</p>
</form>
</body>
</html>